In [1]:
import os
from os import listdir
from os.path import isfile, join
import glob
import string
import operator
import csv
import pandas as pd
import calendar
import re

In [2]:
homedir = os.path.expanduser("~")
path_to_data = homedir+"\\Assignment 3\\Data"
print(path_to_data)

C:\Users\priya\Assignment 3\Data

In [3]:
output_dist={}
for subdir,dirs, files in os.walk(path_to_data):
    #print(files)
    for file in files:
        if file == 'movies_awards.csv':
            #print(file)
            csv_data1=pd.read_csv(os.path.join(subdir,file))

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374

In [4]:
new_df = csv_data1[["Title","Awards"]].copy()
print(new_df.head(10))

                                               Title                   Awards
0  Book of Love: The Definitive Reason Why Men Ar...                      NaN
1                              Anderssons älskarinna                      NaN
2                                          Bad Blood                      NaN
3                                       Who Are You?   1 win & 2 nominations.
4                            Skeletons in the Closet                   1 win.
5                                 Cheerleader Ninjas            1 nomination.
6                                The Girl from Paris  3 wins & 2 nominations.
7                                  The Final Curtain    1 win & 1 nomination.
8                                              Crush                      NaN
9                                     Happy Birthday                      NaN

## Removing NaN

In [5]:
new_df=new_df.dropna(subset=['Awards'])
print(new_df.head(10))

                      Title                                             Awards
3              Who Are You?                             1 win & 2 nominations.
4   Skeletons in the Closet                                             1 win.
5        Cheerleader Ninjas                                      1 nomination.
6       The Girl from Paris                            3 wins & 2 nominations.
7         The Final Curtain                              1 win & 1 nomination.
11          Crazy/Beautiful                                     5 nominations.
13    The Anniversary Party                            2 wins & 5 nominations.
15       The Quiet American  Nominated for 1 Oscar. Another 13 wins & 13 no...
18       Like Cat and Mouse                            5 wins & 4 nominations.
24         Punch-Drunk Love  Nominated for 1 Golden Globe. Another 14 wins ...

# Using REGX  separating the count

In [6]:
new_df["Awards_won"] = new_df["Awards"].apply(lambda x : (re.findall(r"(\d+) win", x))) #find all sentences with pattern 2 win or 3 win
new_df["Awards_won"] = new_df["Awards_won"].apply(lambda x : [0] if len(x)==0 else x)  # getting the 0th element of array
new_df["Awards_won"] = new_df["Awards_won"].apply(lambda x : list(map(int,x))[0])     #Converting in to integer

# Doing this for all award categories with respective pattern 

new_df["Awards_Nominated"] = new_df["Awards"].apply(lambda x : (re.findall(r"(\d+) nominations", x)))
new_df["Awards_Nominated"] = new_df["Awards_Nominated"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Awards_Nominated"] = new_df["Awards_Nominated"].apply(lambda x : list(map(int,x))[0])

new_df["Golden_glob_awards_won"] = new_df["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Golden ", x)))
new_df["Golden_glob_awards_won"] = new_df["Golden_glob_awards_won"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Golden_glob_awards_won"] = new_df["Golden_glob_awards_won"].apply(lambda x : list(map(int,x))[0])

new_df["Golden_glob_awards_Nominated"] = new_df["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Golden ", x)))
new_df["Golden_glob_awards_Nominated"] = new_df["Golden_glob_awards_Nominated"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Golden_glob_awards_Nominated"] = new_df["Golden_glob_awards_Nominated"].apply(lambda x : list(map(int,x))[0])

In [7]:
new_df["Oscar_awards_Nominated"] = new_df["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Oscar", x)))
new_df["Oscar_awards_Nominated"] = new_df["Oscar_awards_Nominated"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Oscar_awards_Nominated"] = new_df["Oscar_awards_Nominated"].apply(lambda x : list(map(int,x))[0])

,Title,Awards,Awards_won,Awards_Nominated,Golden_glob_awards_won,Golden_glob_awards_Nominated,Oscar_awards_Nominated
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0
5,Cheerleader Ninjas,1 nomination.,0,0,0,0,0
6,The Girl from Paris,3 wins & 2 nominations.,3,2,0,0,0
7,The Final Curtain,1 win & 1 nomination.,1,0,0,0,0

In [8]:
new_df["Oscar_Won"] = new_df["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Oscar", x)))
new_df["Oscar_Won"] = new_df["Oscar_Won"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Oscar_Won"] = new_df["Oscar_Won"].apply(lambda x : list(map(int,x))[0])

In [9]:
new_df["Prime_awards_nominated"] = new_df["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Primetime", x)))
new_df["Prime_awards_nominated"] = new_df["Prime_awards_nominated"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Prime_awards_nominated"] = new_df["Prime_awards_nominated"].apply(lambda x : list(map(int,x))[0])

In [10]:
new_df["Prime_awards_won"] = new_df["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Primetime", x)))
new_df["Prime_awards_won"] = new_df["Prime_awards_won"].apply(lambda x : [0] if len(x)==0 else x)
new_df["Prime_awards_won"] = new_df["Prime_awards_won"].apply(lambda x : list(map(int,x))[0])

In [11]:
new_df["BAFTA_awards_nominated"] = new_df["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) BAFTA", x)))
new_df["BAFTA_awards_nominated"] = new_df["BAFTA_awards_nominated"].apply(lambda x : [0] if len(x)==0 else x)
new_df["BAFTA_awards_nominated"] = new_df["BAFTA_awards_nominated"].apply(lambda x : list(map(int,x))[0])

In [12]:
new_df["BAFTA_awards_won"] = new_df["Awards"].apply(lambda x : (re.findall(r"Won (\d+) BAFTA", x)))
new_df["BAFTA_awards_won"] = new_df["BAFTA_awards_won"].apply(lambda x : [0] if len(x)==0 else x)
new_df["BAFTA_awards_won"] = new_df["BAFTA_awards_won"].apply(lambda x : list(map(int,x))[0])

# Adding all categories to get Total win and total nominated

In [13]:
new_df["Awards_won"] = ((((new_df["Awards_won"] + new_df["Golden_glob_awards_won"]) + new_df["Oscar_Won"]) + new_df["Prime_awards_won"]) + new_df["BAFTA_awards_won"])
new_df["Awards_Nominated"] = ((((new_df["Awards_Nominated"] + new_df["Golden_glob_awards_Nominated"]) + new_df["Oscar_awards_Nominated"]) + new_df["Prime_awards_nominated"]) + new_df["BAFTA_awards_nominated"])
print(new_df.head(5))

# Writing data into csv file

In [14]:
def save_to_csv():
    if not os.path.exists(homedir+"\\Assignment 3\\Output\\Question4"):
        os.makedirs(homedir+"\\Assignment 3\\Output\\Question4")
    with open(homedir+'\\Assignment 3\\Output\\Question4\\Q4_ouptput.csv', 'w') as myfile:
        myfile.write(new_df.to_csv(index=False))

In [15]:
save_to_csv()