In [12]:
import os
from os import listdir
from os.path import isfile, join
import glob
import string
import operator
import csv
import pandas as pd
import calendar
import numpy as np

- path to data directory

In [13]:
homedir = os.path.expanduser("~")
path_to_data = homedir+"\\Assignment 3\\Data"
print(path_to_data)

C:\Users\priya\Assignment 3\Data

#### Getting data from CSV in to a data frame

In [14]:
output_dist={}
for subdir,dirs, files in os.walk(path_to_data):
    #print(files)
    for file in files:
        if file == 'employee_compensation.csv':
            #print(file)
            csv_data1=pd.read_csv(os.path.join(subdir,file))
print(csv_data1.head(2))

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16

In [15]:
new_df = csv_data1[["Organization Group","Department","Total Compensation"]].copy()
print(new_df.head(2))

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16

### counting the total compensation group by organisation group and department

In [16]:
mean_df = new_df[["Organization Group","Department","Total Compensation"]].copy()
#demo["Count"]=1
#demo = pd.DataFrame(demo.groupby("Organization Group").COUNT.sum().reset_index())
mean_df = mean_df.groupby(['Organization Group','Department'])['Total Compensation'].mean()
#demo.sort_values(by='mean',ascending=0)
mean_df= pd.DataFrame(mean_df)
print(mean_df.head(5))

                                          Total Compensation
Organization Group   Department
Community Health     Public Health              96190.190140
Culture & Recreation Academy of Sciences       107319.727692
                     Arts Commission            94339.597388
                     Asian Art Museum           71401.520060
                     Fine Arts Museum           44205.439895

# Sorting each organisation group

In [17]:
g = mean_df['Total Compensation'].groupby(level=0, group_keys=False)
sorted_df = g.apply(lambda x: x.order(ascending=False))

sorted_df = pd.DataFrame(sorted_df)
print(sorted_df.head(20))

C:\Users\priya\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: order is deprecated, use sort_values(...)
  from ipykernel import kernelapp as app

                                                                       Total Compensation
Organization Group               Department
Community Health                 Public Health                               96190.190140
Culture & Recreation             Law Library                                188424.362222
                                 Academy of Sciences                        107319.727692
                                 Arts Commission                             94339.597388
                                 War Memorial                                76250.068022
                                 Asian Art Museum                            71401.520060
                                 Public Library                              70446.352147
                                 Fine Arts Museum                            44205.439895
                                 Recreation and Park Commission              38912.859465
General Administration & Finance City Attorney                              166082.677561
                                 Retirement System                          117717.658589
                                 General Services Agency - Technology       110783.680158
                                 Mayor                                      110765.391333
                                 Controller                                 104515.234944
                                 Ethics Commission                           98631.380366
                                 Assessor/Recorder                           89994.260614
                                 City Planning                               89022.876966
                                 General Services Agency - City Admin        86123.547609
                                 Treasurer/Tax Collector                     85449.253170
                                 Board of Supervisors                        78801.347641

In [10]:
def save_to_csv():
    if not os.path.exists(homedir+"\\Assignment 3\\Output\\Question2_part1"):
        os.makedirs(homedir+"\\Assignment 3\\Output\\Question2_part1")
    with open(homedir+'\\Assignment 3\\Output\\Question2_part1\\Q2P1_ouptput.csv', 'w') as myfile:
        myfile.write(sorted_df.to_csv())

In [ ]:
save_to_csv()