In [1]:
import os
from os import listdir
from os.path import isfile, join
import glob
import string
import operator
import csv
import pandas as pd
import calendar

In [2]:
homedir = os.path.expanduser("~")
path_to_data = homedir+"\\Assignment 3\\Data"
print(path_to_data)

C:\Users\priya\Assignment 3\Data

In [3]:
output_dist={}
for subdir,dirs, files in os.walk(path_to_data):
    #print(files)
    for file in files:
        if file == 'vehicle_collisions.csv':
            #print(file)
            csv_data=pd.read_csv(os.path.join(subdir,file))

## Extracting year and month from date column

In [5]:
csv_data["DATE"] = pd.to_datetime(csv_data.DATE)
csv_data["MONTH"] = csv_data.DATE.dt.month
csv_data["MONTH"] = csv_data["MONTH"].apply(lambda x: calendar.month_abbr [x])
csv_data["YEAR"] = csv_data.DATE.dt.year
print(csv_data.head(2))

   UNIQUE KEY       DATE  TIME BOROUGH  ZIP CODE   LATITUDE  LONGITUDE  \
0     3146911 2015-01-01  0:20  QUEENS   11358.0  40.751847 -73.787862
1     3146180 2015-01-01  0:20     NaN       NaN  40.771289 -73.946693

                    LOCATION ON STREET NAME CROSS STREET NAME  ...   \
0   (40.7518471, -73.787862)      47 AVENUE        193 STREET  ...
1  (40.7712888, -73.9466928)            NaN               NaN  ...

  VEHICLE 3 TYPE  VEHICLE 4 TYPE  VEHICLE 5 TYPE             VEHICLE 1 FACTOR  \
0            NaN             NaN             NaN  TRAFFIC CONTROL DISREGARDED
1            NaN             NaN             NaN               ANIMALS ACTION

   VEHICLE 2 FACTOR  VEHICLE 3 FACTOR  VEHICLE 4 FACTOR  VEHICLE 5 FACTOR  \
0               NaN               NaN               NaN               NaN
1               NaN               NaN               NaN               NaN

   MONTH  YEAR
0    Jan  2015
1    Jan  2015

[2 rows x 31 columns]

## Getting the count for MANHATTAN & NYC monthwise

In [6]:
csv_data["COUNT"] = 1
Manhattan_df = pd.DataFrame(csv_data[(csv_data.YEAR == 2016) & (csv_data.BOROUGH == "MANHATTAN")].groupby("MONTH").COUNT.sum().reset_index())

In [7]:
NYC_df = pd.DataFrame(csv_data[(csv_data.YEAR == 2016)].groupby("MONTH").COUNT.sum().reset_index())
print(NYC_df.head(2))

  MONTH  COUNT
0   Apr  18331
1   Aug  19678

## Merging data frame to get the data in single frame

In [8]:
total_df = pd.merge(Manhattan_df, NYC_df , on ='MONTH' , how='inner')
total_df.columns = ["MONTH","MANHATTAN","NEWYORK"]
print(total_df.head(2))

  MONTH  MANHATTAN  NEWYORK
0   Apr       3540    18331
1   Aug       2844    19678

## Calculating the percentage

In [11]:
total_df["Percentage"] = (total_df.MANHATTAN / total_df.NEWYORK)*100
print(total_df.head(2))

  MONTH  MANHATTAN  NEWYORK  Percentage
0   Apr       3540    18331   19.311549
1   Aug       2844    19678   14.452688

In [10]:
def save_to_CSV():
    if not os.path.exists(homedir+"\\Assignment 3\\Output\\Question1_part1"):
        os.makedirs(homedir+"\\Assignment 3\\Output\\Question1_part1")
    with open(homedir+'\\Assignment 3\\Output\\Question1_part1\\Q1P1.csv', 'w') as myfile:
        myfile.write(total_df.to_csv(index=False))

In [ ]:
save_to_CSV()